*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
.conteiner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.components {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding: 0px 10% 100px 160px;
  overflow: hidden;
}
.content {
  width: 100%;
}
